

<div class="text-center">
  
    <h1 class="display-4"> Cadastrar Usuário</h1>


</div>

<form>
    <div class="form-group">
        <label for="´nome">Nome</label>
        <input type="text" class="form-control"   placeholder="Digite o nome do usuário">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>
    <div class="form-group">
        <label for="´nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do usuário">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>